<h1 class="page-header">Slack Bot Office Beta</h1>
<div class="row">

  <div class="col-md-&é">
    <h2>Bots de notification pour Slack</h2>
    Nous testons les bots pour vous tenir régulierement informé des notifications importantes que vous devez connaitre dans votre entreprise
    <h2>Bots à commandes</h2>
    Tapez des commandes préformatées pour avoir accès à l'information souhaitée au moment voulu. Interagissez avec toute votre équipe
    <h2>Bots de Chat</h2>
    En développement
  </div>

</div>
