<h1 class="page-header">General#main</h1>
<div class="row">

<div class="col-md-6">
  test
</div>
<div class="col-md-6">
  Test colonne 2
</div>
</div>
<p>Find me in app/views/general/main.html.erb</p>
