<h1 class="page-header">Slack Bot Office Beta</h1>
<div class="row">
  <div class="col-md-12">
<a href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands,channels:read,users:read,groups:read&client_id=20872315939.32412953764"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Bots de notification pour Slack</h2>
    Nous testons les bots pour vous tenir régulierement informé des notifications importantes que vous devez connaitre dans votre entreprise
    <h2>Bots à commandes</h2>
    Tapez des commandes préformatées pour avoir accès à l'information souhaitée au moment voulu. Interagissez avec toute votre équipe
    <h2>Bots de Chat</h2>
    En développement
  </div>
</div>
